name: Release

on:
  push:
    branches:
      - 'main'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      VITE_ROUTER_BASE_PATH: /kevin-chromik-hackathon-december-2025/

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build the application
        run: npm run build

      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist